html {
  background-color: #f2f1ed;
  font-family: Georgia, serif;
  line-height: 1.5;
}

img {
  width: 100%;
}

h1, h2, h3 {
  font-family: "Patua One", sans-serif;

  color: #5d8432;
  text-transform: uppercase;
}

figcaption {
  font-size: .8rem;
  font-style: italic;
  text-align: center;
  font-family: "Patua One", sans-serif;
}

nav {
  font-family: 'PT Sans', sans-serif;
  font-weight: normal;
  font-size: 1rem;
}

nav {
  font-family: 'PT Serif', serif;
  font-weight: normal;
  font-size: 1rem;
}

nav ol {
  list-style-type: none;
}

a nav {
  color: #793284;
  text-decoration: none;
}

nav a:hover {
  color: #b42885;
  text-decoration: underline;
}
