html {
  font-family: "PT Serif", serif;
  background-color: #f2f1ed;
  line-height: 1.5;
}

img {
  width: 100%;
}

h1, h2 {
  font-family: "PT Sans", sans-serif;
  color: #5d8432;
  text-transform: uppercase;
}

figcaption {
  font-size: .08rem;
  font-style: italic;
  text-align: center;
}

nav {
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  font-size: 1.125rem;
}

nav a {
  list-style-type: none;
}

a {
  color: #793284;
  text-decoration: none;
}

a:hover {
  color: #8f2440;
  text-decoration: underline;
}

.intro {
  font-size: 1rem;
}

strong {
  font-weight: normal;
}
